:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-dark: 0 1rem 5rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 4rem rgba(0,0,0, .1);
  --line: 1px solid var(--grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 72.81em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 85%;
      margin: auto; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 20px;
    width: 90%;
    margin-right: -3rem;
    transition: width .2s; }
    .search__input:focus {
      outline: none;
      background-color: var(--grey-light-3);
      width: 100%; }
    .search__input:focus + .search__button {
      background-color: var(--grey-light-3); }
    .search__input::placeholder {
      color: var(--grey-dark-3);
      font-weight: 300; }
  .search__button {
    border: none;
    background-color: var(--grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:hover {
      cursor: pointer; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    color: var(--grey-light-1);
    font-size: .9rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-img {
    height: 5rem;
    border-radius: 50%; }
  .user-nav__user-name {
    margin-left: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 59.06em) {
    .side-nav {
      display: flex;
      margin-top: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 59.06em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .7rem; }
      @media only screen and (max-width: 59.06em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    align-items: center;
    color: var(--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3rem 3rem;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 59.06em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin: 0 0 .5rem; }
        .side-nav__icon + span {
          text-align: center; } }

.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 59.06em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__item {
    position: relative; }
    .gallery__item:hover figcaption {
      color: #fff;
      transform: translateX(-50%) scaleX(1); }
      @media only screen and (max-width: 59.06em) {
        .gallery__item:hover figcaption {
          display: none; } }
  .gallery__photo {
    width: 100%;
    display: block; }
  .gallery__item-caption {
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    width: 65%;
    padding: .3rem 0;
    background-color: var(--color-primary);
    transform: translateX(-50%) scaleX(0);
    transition: transform .4s, color .4s .3s; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.5rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__star-icon, .overview__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__location {
        margin-left: 2rem; } }
    .overview__location-icon {
      margin-right: .5rem; }
      @media only screen and (max-width: 37.5em) {
        .overview__location-icon {
          display: none; } }
  .overview__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: var(--grey-light-1);
    margin-left: 3rem;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: .5rem 1rem; } }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px; }
    .overview__rating-count {
      font-size: 1.1rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-count {
          text-align: center; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: color .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-style: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn::before {
    content: "Book now";
    display: inline-block;
    padding: 2rem 7.5rem;
    position: relative;
    top: 0;
    transition: top .2s; }
  .btn::after {
    content: "Only 4 rooms left";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
    transition: top .2s; }
  .btn:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light)); }
    .btn:hover::before {
      top: 100%;
      top: 5rem; }
    .btn:hover::after {
      top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .5rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .5rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .list__item::before {
          background-color: var(--color-primary);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-size: cover;
          background-image: none; } }

.recommendation {
  font-size: 1.3rem;
  color: var(--grey-dark-3);
  display: flex;
  align-items: center;
  flex: 1; }
  .recommendation__count {
    margin-right: auto; }
  .recommendation__users {
    display: flex; }
  .recommendation__photo {
    box-sizing: content-box;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommendation__photo:not(:last-child) {
      margin-right: -1.8rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 59.06em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -.75rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--grey-light-2); }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__name-and-date {
    margin-right: auto; }
  .review__name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__date {
    font-size: 1rem;
    color: var(--grey-dark-3); }
  .review__rating {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--color-primary); }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 59.06em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line); }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 59.06em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }
  .hotel-view .details {
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: var(--grey-light-1);
    border-bottom: var(--line); }
    @media only screen and (max-width: 59.06em) {
      .hotel-view .details {
        padding: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .hotel-view .details {
        flex-direction: column; } }
    .hotel-view .details__description {
      flex: 0 0 60%;
      margin-right: 4.5rem;
      padding: 3rem;
      background-color: #fff;
      box-shadow: var(--shadow-light);
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 59.06em) {
        .hotel-view .details__description {
          margin-right: 3;
          padding: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .hotel-view .details__description {
          margin-right: 0;
          margin-bottom: 3rem; } }
    .hotel-view .details__user-reviews {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center; }
