// COLORS

// Grey light 1: #faf9f9
// Grey light 2: #f4f2f2
// Grey light 3: #f0eeee
// Grey light 4: #ccc

// Grey dark 1: #333
// Grey dark 2: #777
// Grey dark 3: #999


// Custom Properties - CSS Variables
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;

  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;

  --shadow-dark: 0 1rem 5rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 4rem rgba(0,0,0, .15);

  --line: 1px solid var(--grey-light-2);
}


// SASS Variables - media breakpoints
$bp-largest: 75em; // 1200px / 16 
$bp-large: 72.81em; // 1165px / 16
$bp-medium: 59.06em; // 945px / 16

// === Global reset & Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem - 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem - 8px
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary-dark)
    );
  background-size: cover;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}