//==== HEADER ====
// Logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// Search box
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 20px;
    width: 90%;
    margin-right: -3rem;
    
    transition: width .2s;

    
    &:focus {
      outline: none;
      background-color: var(--grey-light-3);
      width: 100%;
    }
    
    &:focus + .search__button {
      background-color: var(--grey-light-3);
    }
    
    &::placeholder {
      color: var(--grey-dark-3);
      font-weight: 300;
    }
  }

  
  &__button {
    border: none;
    background-color: var(--grey-light-2);

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }
}

// User navigation
.user-nav {
  display: flex;
  // align-items: center;

  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;

    // Centering inside nav boxes
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2);
  }

  &__notification {
    color: var(--grey-light-1);
    font-size: .9rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

    // We use flexbox to center text inside span
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {

    &-img {
      height: 5rem;
      border-radius: 50%;
    }

    &-name {
      margin-left: 1rem;
    }
  }
}

////////////////////////////////////////////
// ==== NAVIGATION ====
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .7rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .2s,
                  width .3s cubic-bezier(1,0,0,1) .2s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    display: flex;
    align-items: center;

    color: var(--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3rem 3rem;
    position: relative;
    z-index: 1;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; // takes same color as current element or parent
    margin-right: 2rem;
  }
}

// Legal copy
.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

////////////////////////////////////////////
// ==== GALLERY ====

.gallery {
  display: flex;

  // &__item {

  // }

  &__photo {
    width: 100%;
    display: block;
  }
}

////////////////////////////////////////////
// ==== HOTEL TITLE & INFO (OVERVIEW) ====
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__star-icon,
  &__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &-icon {
      margin-right: .5rem;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: var(--grey-light-1);
    margin-left: 3rem;
    padding: 1rem 2rem;

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;
    }

    &-count {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }
}

////////////////////////////////////////////
// ==== INLINE BUTTON ====
.btn-inline {
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;

  transition: color .2s;

  &:hover {
    color: var(--grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite; //infinite animation
  }
}


////////////////////////////////////////////
// ==== ANIMATIONS ====
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 .2rem 4rem rgba(0,0,0, .3);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}