// Logo
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

// Search box
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 20px;
    width: 90%;
    margin-right: -3rem;
    
    transition: width .2s;

    
    &:focus {
      outline: none;
      background-color: var(--grey-light-3);
      width: 100%;
    }
    
    &:focus + .search__button {
      background-color: var(--grey-light-3);
    }
    
    &::placeholder {
      color: var(--grey-dark-3);
      font-weight: 300;
    }
  }

  
  &__button {
    border: none;
    background-color: var(--grey-light-2);

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }
}

// User navigation
.user-nav {
  &__icon-box {

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {

  }

  &__user {

    &-img {
      height: 5rem;
      border-radius: 50%;
    }

    &-name {

    }
  }
}